* {
  box-sizing: border-box;
}

.appTheme.light {
  background-color: #fff;
  color: #000;
}

.appTheme.dark {
  background-color: #333;
  color: #fff;
}

.appTheme button {
  padding: 10px;
  margin: 20px;
  border: none;
  cursor: pointer;
}

.appTheme button:hover {
  opacity: 0.8;
}

.custom-toggler.navbar-toggler {
  border-color: lightgreen;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
