* {
  box-sizing: border-box;
}

.appTheme.light {
  background-color: #fff;
  color: #000;
}

.appTheme.dark {
  background-color: #333;
  color: #fff;
}

.appTheme button {
  padding: 10px;
  margin: 20px;
  border: none;
  cursor: pointer;
}

.appTheme button:hover {
  opacity: 0.8;
}
